node_modules
dist
docs
.idea
.env
.env.test
*.log
*.test
*.debug
.rollup.cache
.gitlab-ci-local
temp_repo
vitepress/.vitepress/dist
vitepress/.vitepress/cache
vitepress/0.0.0
vitepress/0.0.0-*
vitepress/README.md
vitepress/index.md
vitepress/versions.md
vitepress/.vitepress/config.mts
bin/fixSpecs.ts
*.tmp
*.tmp.*