node_modules
dist
.idea
.env
.env.test
*.log
*.test
*.debug
.rollup.cache
.gitlab-ci-local
temp_repo
*.tmp
*.tmp.*
docs/.vitepress/cache
docs/.vitepress/dist
playgrounds/vueprint-playground-vue/.yarn-cache
playgrounds/vueprint-playground-nuxt/.yarn-cache
.yarn-cache
.playground
.nuxt